*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eff4fd;
}

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 15%;
  height: 15%;
  border-radius: 10px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover{
  color: crimson;
}

.detail{
  margin-left: 8%;
  margin-top: 13%;
}

.detail h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}

span{
  color: orange;
}

.detail p{
  color: #555;
  line-height: 22px;
}

.detail a{
  background: #212121;
  padding: 10px 18px;
  text-decoration:none;
  font-weight: bold;
  color: #eff4fd;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.imgg{
  width: 24%;
  height: 49%;
  position: absolute;
  right: 10%;
  top: 30%;
  border-radius: 6px;
}

.skills{
  margin-left: 8%;
  color: #555;
  margin-bottom: 10px;
}

.skills h2{
  font-size: 30px;
  color: #212121;
  margin-bottom: 20px;
}

.tech{
  position: absolute;
  left: 10%;
}

.soft{
  position: absolute;
  right: 30%;
}

.project{
  margin-left: 8%;
  margin-top: 10rem;
}

.game img{
  margin-top: 30px;
  border-radius: 5px;
}

.game p , .calc p{
  color: #555;
}

.calc{
  position: absolute;
  right: 20%;
  top: 130%;
}

hr{
  margin-top: 30px; 
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
  margin-top: 5%;
}